# Task-1

In [2]:
import pandas as pd 
import numpy as np
d1=pd.Series(np.random.rand(4))
d2=pd.Series(np.random.rand(4))
d3=pd.Series(np.random.rand(4))
d4=pd.Series(np.random.rand(4))

In [3]:
df = pd.DataFrame([d1,d2,d3,d4])
df

          0         1         2         3
0  0.951232  0.510199  0.466709  0.525826
1  0.553550  0.378724  0.003306  0.285775
2  0.643907  0.732335  0.453974  0.512890
3  0.758305  0.118171  0.352106  0.083175

# Task 2

In [6]:
df.rename(columns={0:'Random Value 1',1:'Random Value 2',2:'Random Value 3',3:'Random Value 4'},inplace=True)
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.951232        0.510199        0.466709        0.525826
1        0.553550        0.378724        0.003306        0.285775
2        0.643907        0.732335        0.453974        0.512890
3        0.758305        0.118171        0.352106        0.083175

# Task 3

In [7]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.726748        0.434857        0.319024        0.351916
std          0.171512        0.256652        0.216637        0.210359
min          0.553550        0.118171        0.003306        0.083175
25%          0.621317        0.313586        0.264906        0.235125
50%          0.701106        0.444462        0.403040        0.399332
75%          0.806537        0.565733        0.457158        0.516124
max          0.951232        0.732335        0.466709        0.525826

# Task 4

In [10]:
df.isnull().all()

Random Value 1    False
Random Value 2    False
Random Value 3    False
Random Value 4    False
dtype: bool

In [11]:
df['Random Value 1'].dtype

dtype('float64')

In [12]:
df['Random Value 2'].dtype

dtype('float64')

In [13]:
df['Random Value 3'].dtype

dtype('float64')

In [16]:
df['Random Value 4'].dtype

dtype('float64')

# Task 5

In [18]:
df.loc[0:,'Random Value 2']

0    0.510199
1    0.378724
2    0.732335
3    0.118171
Name: Random Value 2, dtype: float64

In [19]:
df.iloc[0:,2]

0    0.466709
1    0.003306
2    0.453974
3    0.352106
Name: Random Value 3, dtype: float64